langchain==0.2.10
langchain-openai==0.1.17
python-dotenv==1.0.1
langchain-groq==0.1.6
langchain-community
bs4==0.0.2
unstructured==0.15.0
pypdf==4.3.1
wikipedia
langchian-chroma==0.1.2
chroma
langserve==0.2.2
uvicorn
pydantic==1.10.13