langchain
langchain-openai
python-dotenv
langchain-groq
langchain-community
bs4
unstructured
pypdf
wikipedia
#langchian-chroma
chromadb
openai
langserve
uvicorn
#pydantic==1.10.13
langgraph
llama-index
openai
google-cloud-aiplatform
streamlit
boto3
# Interview Question Generator
langchain-core
pypdf
tiktoken
aiofiles
fastapi
uvicorn
jinja2
python-multipart
PyPDF2
faiss-cpu
#Medical ChatBot
sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
